a {text-decoration: none;}
/*HEADER CSS-start*/
.header{
    font-family: "Caveat", Arial, sans-serif;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-weight: 600;
    background-color: #fefae0;
}
    .header_logo{
    justify-content: center;
    width: 180px;
    height: 130px;
    margin: 0vh 2vw;
    }
    .header_nav1{
        display: flex; 
        justify-content: flex-end;
        align-items: center;
    }
        .header_nav1_items{
            font-size: 28px;
            color: #283618;
            padding: 0px 8px;
            margin-left: 2vw;
            border-radius: 5px;
        }
            .header_nav1_items:hover,.header_nav2_items:hover{color: darkcyan;}
    .header .current{color: darkcyan;}  
    .header_nav2{
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        /*border: solid 1px green;*/
    }
        .header_nav2_items{
            font-size: 28px;
            color: #283618;
            padding: 0px 8px;
            margin-right: 2vw;
            border-radius: 5px;
            /* border: solid 1px blue;*/
        }
    .header_icon_bar{
        float: right;
        padding: 45px 40px 0px 20px;
        display: none;
    }
        .header_icon_bar span{
            display: block;
            height: 3px;
            width: 30px;
            background-color: #283618;
            margin-bottom: 5px;
        }
/*HEADER CSS-end*/
/*COVER CSS-start*/
.cover{
    margin-top: -5px;
    font-family: "Style Script",Arial, sans-serif;
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    display: table;
    background-image: url(./imm/cover/2.jpg);
    opacity: 1.1;
    background-size: cover;
    background-position: right;
}
    .cover_text{
        height: 90vh;
        color: rgb(255, 255, 255);
        padding: 10px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .cover_text h1{font-size: 160px; }
    .cover_text h2{font-size: 100px;}
/*COVER CSS-end*/

/*----RESPONSIVE----*/
/*HEADER CSS-start RESPONSIVE*/
@media only screen and (max-width:767px){
    .header{
        height: 100px;
    }
    .header_logo{
        content: url(imm/logo/logo-mobile.png);
        width: 120px;
        height: 60px;
        margin-top: 1vw;
    }
    .header_nav1, .header_nav2{
        order: 2;
        align-items: flex-end;
        text-align: left;
    }
    /*HEADER CSS-end RESPONSIVE*/
    /*COVER CSS-start RESPONSIVE*/
    .cover{height: 60vh;background-position: center; }
        .cover_text{height: 60vh; }
        .cover_text h1{font-size: 120px;}
        .cover_text h2{font-size: 60px;}
    /*COVER CSS-end RESPONSIVE*/
}
















