
/*#fffce9*/
a {text-decoration: none;}

/*HEADER CSS-start*/
.header{
    font-family: "Caveat", Arial, sans-serif;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-weight: 600;
    background-color: #fefae0;
}
    .header_logo{
    justify-content: center;
    width: 180px;
    height: 130px;
    margin: 0vh 2vw;
        
    }
    .header_nav1{
        display: flex; 
        justify-content: flex-end;
        align-items: center;
        /*border: solid 1px green;*/
    }
        .header_nav1_items{
            font-size: 28px;
            color: #283618;
            padding: 0px 8px;
            margin-left: 2vw;
            border-radius: 5px;
            /*border: solid 1px blue;*/
        }
            .header_nav1_items:hover,
            .header_nav2_items:hover{
                color: darkcyan;
            }
    .header .current{
        color: darkcyan;
    }  
    .header_nav2{
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        /*border: solid 1px green;*/
    }
        .header_nav2_items{
            font-size: 28px;
            color: #283618;
            padding: 0px 8px;
            margin-right: 2vw;
            border-radius: 5px;
            /* border: solid 1px blue;*/
        }
    .header_icon_bar{
        float: right;
        padding: 45px 40px 0px 20px;
        display: none;
    }
        .header_icon_bar span{
            display: block;
            height: 3px;
            width: 30px;
            background-color: #283618;
            margin-bottom: 5px;
        }

/*HEADER CSS-end*/

/*HEADER CSS-start RESPONSIVE*/
@media only screen and (max-width:767px){
.header{
    height: 110px;
    justify-content: space-between;
    flex-direction: column;
}

.header_logo{
    content: url(imm/logo/logo-mobile.png);
    width: 200px;
    height: 110px;
    margin-top: 1vw;
}
.header_icon_bar{
    display: inline-block;
}

.header_nav1, .header_nav2{
    display: block;
    order: 2;
    display: none;
}

}
/*HEADER CSS-end RESPONSIVE*/

/*COVER CSS-start*/

.cover{
    font-family: "Style Script",Arial, sans-serif;
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    display: table;
    background-image: url(./imm/cover/2.jpg);
    opacity: 1.1;
    background-size: cover;
    background-position: right;
}
    .cover_text{
        height: 90vh;
        color: rgb(255, 255, 255);
        padding: 10px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .cover_text h1{font-size: 160px; }
    .cover_text h2{font-size: 100px;}

    
    
    




/*COVER CSS-end*/






















.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */